

html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}

#myHeading {
    background-color: white;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 1001;
}

#issueGoogle {
    position: absolute;
    top: 40px;
    left: 1px;
    z-index: 1001;
}

#myEntries {
    position: fixed;
    opacity: 0.8;
    bottom: 0;
    z-index: 1001;
    width: 300px;
    font-size: 15px;
}
/*#myEntries .container {*/
    /*width: 300px;*/
/*}*/

#pointsOfInterest {
    background-color: whitesmoke;
}

#pointsOfInterestList {
    height: 500px;
    overflow: auto;
}
#pointsOfInterestList ul{
    margin-left: 10px;
    padding: 10px;
    list-style: circle;
}

.clickedPOI {
    background-color: yellow;
    font-weight: bolder;
}

#infoWindowHook {
    width: 200px;
}

#infoWindowHook p {
    font-size: 12px;
}

#infoWindowHook_tip {
    display: block;
}
